{% verbatim %}

<div id="app_table">
    <div class="field is-horizontal has-text-left" style="width: 600px;">
        <h2 class="field-label" style="white-space:nowrap;">Счет №</h2>
        <div class="field-body">
            <input class="input" v-model="bill.code">
        </div>
    </div>
            <h4>Период: {{bill.period_from}} - {{bill.period_to}}</h4>
            <h4>Счет создан: {{bill.create_date}} {{bill.create_time}}</h4>
    <div v-if="percent_loading < 100" class="loading has-text-centered fa-2x">
        <i class="fa fa-refresh fa-spin fa-fw margin-bottom is-cent"></i>
        <div></div>
    </div>
    <form v-else id="bill">
        <table class="table is-bordered">
            <thead>
            <tr>
                <th v-for="key in columns">
                    {{key}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(object, index) in data">
                <td style="width:3%;">{{index+1}}</td>
                <td style="width:40%;"><input type="text" class="input" name="name" v-model="object.name" :disabled="bill.confirmed"></td>
                <td><input type="number" class="input" name="leads" v-model="object.leads" :disabled="bill.confirmed"><br/><a href="javascript:void(0)" @click="showModalConversions(index)" v-show="object.conversions && object.conversions.length > 0">Подробнее</a></td>
                <td><input type="number" class="input" name="cost" v-model="object.cost" :disabled="bill.confirmed"></td>
                <td><input type="text" class="input" name="amount_without_vat" v-model="object.amount_without_vat" disabled></td>
                <td><input type="text" class="input" name="vat_amount" v-model="object.vat_amount" disabled></td>
                <td><input type="text" class="input" name="amount_with_vat" v-model="object.amount_with_vat" disabled></td>
                <td class="has-text-centered" v-show="bill.confirmed == false">
                    <a v-if="index+1 == data.length" href="javascript:void(0)" @click="addGrid"><span class="icon has-text-success"><i class="fa fa-lg fa-plus"></i></span></a>
                    <a v-else href="javascript:void(0)" @click="removeGrid(index)" v-show="quantity > 1" ><span class="icon has-text-danger"><i class="fa fa-lg fa-minus"></i></span></a>

                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="text" class="input" :value="bill.amount_without_vat" disabled></td>
                <td><input type="text" class="input" :value="bill.vat_amount" disabled></td>
                <td><input type="text" class="input" :value="bill.amount_with_vat" disabled></td>
            </tr>
            </tbody>
        </table>
        <div class="is-pulled-right">
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" v-model="bill.vat_enabled" :disabled="bill.confirmed" />
                    Включить НДС в счет
                </label>
            </div>
            <input v-show="!bill.confirmed" @click="fetchData" class="button is-warning" value="Обновить данные">

            <input v-if="bill.confirmed" @click="cancelConfirmationBill" class="button is-danger" value="Отменить подтверждение счета" >
            <input v-else @click="showModalConfirmBill" class="button is-success" value="Подтвердить счет" >
        </div>
    </form>
    <div v-bind:class="[{ 'is-active' : modalIsActive }, 'modal']">
        <div class="modal-background" @click="closeModal"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <h4>{{modal.heading}}</h4>
            </header>
            <section class="modal-card-body">
                <h5>{{modal.title}}</h5>
                <table v-show="modal.content.length > 0" class="table is-bordered">
                    <tr>
                        <td>№</td>
                        <td>ID конверсии</td>
                        <td>Дата и время</td>
                        <td>Ставка</td>
                    </tr>
                    <tr v-for="(row, index) in modal.content">
                        <td>{{index+1}}</td>
                        <td><a :href="'http://acc.leadgid.ru/admin/stats/conversion_view/' + row.unique_id " target="_blank">{{row.unique_id}}</td>
                        <td>{{row.date_time}}</td>
                        <td>{{row.revenue}}</td>
                    </tr>
                </table>
                <div class="fieldset">
                    <div v-show="modal.confirmMessage.length > 0" class="field">
                        <h5>{{modal.confirmMessage}}</h5>
                        <button class="button is-danger" @click="confirmBill" value="">Да</button>
                        <button class="button is-success" @click="closeModal" value="">Отмена</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endverbatim %}

<script>
var app_table = new Vue({
    el: '#app_table',
    data: {
        columns: ['№','Оффер', 'Количество лидов', 'Ставка', 'Сумма по офферу', 'В том числе НДС', 'Итого', ' '],
        parsed_data: [],
        bill: {},
        original_data: [],
        modalIsActive: false,
        modal: {heading: '', title: '', content: [], confirmMessage: ''},
        for_delete: [],
        percent_loading: 0,
    },
    created: function() {
        this.fetchData()
    },

    computed: {
        quantity: function() {
            return this.data.length
        },
        data: function() {
            var data = this.parsed_data
            var vat = (this.bill.vat_enabled === true) ? 0.18 : 0
            this.bill.amount_without_vat = 0
            this.bill.vat_amount = 0
            this.bill.amount_with_vat = 0
                for (var i=0; i < data.length; i++) {
                    data[i].amount_without_vat = data[i].leads * data[i].cost
                    data[i].amount_without_vat = Math.round(data[i].amount_without_vat * 100) / 100
                    this.bill.amount_without_vat += data[i].amount_without_vat

                    data[i].vat_amount = data[i].amount_without_vat * vat
                    data[i].vat_amount = Math.round(data[i].vat_amount * 100) / 100
                    this.bill.vat_amount += data[i].vat_amount

                    data[i].amount_with_vat = data[i].amount_without_vat + data[i].vat_amount
                    data[i].amount_with_vat = Math.round(data[i].amount_with_vat * 100) / 100
                    this.bill.amount_with_vat += data[i].amount_with_vat
                }
            return data
        },
    },
    methods: {
        fetchData: function() {
            this.percent_loading = 0
            var apiURL = '/api/v1/bill_entry/' + '?bill_id={{bill.pk}}'
            var xhr = new XMLHttpRequest()
            var self = this
            xhr.open('GET', apiURL)
            xhr.onload = function() {
                var response_data = JSON.parse(xhr.responseText)
                self.original_data = response_data;
                self.parsed_data = response_data;
                self.parsed_data.push({id:'N',name: '',leads:0,cost:0,bill_id:{{bill.pk}}})
            }
            xhr.send()
            this.fetchBill()
        },
        fetchBill: function() {
            var apiURL = '/api/v1/bill/' + '{{bill.pk}}/'
            var xhr = new XMLHttpRequest()
            var self = this
            xhr.open('GET', apiURL)
            xhr.onload = function() {
                var response_data = JSON.parse(xhr.responseText)
                delete response_data.acc_status
                delete response_data.stat_status
                delete response_data.is_stats_upload_necessary
                self.bill = response_data;
            }
            xhr.onprogress = function(event) {
                self.percent_loading = event.loaded / event.total * 100
            }
            xhr.send()
        },
        fetchConversions: function(id) {
            var apiURL = '/api/v1/conversion/' + id + '/'
            var xhr = new XMLHttpRequest()
            var self = this
            xhr.open('GET', apiURL)
            xhr.onload = function() {
                var data = JSON.parse(xhr.responseText)
                data.date_time = new Date(data.date_time)
                data.date_time = data.date_time.toLocaleString("ru-ru")
                data.created_date_time = new Date(data.created_date_time)
                data.created_date_time = data.created_date_time.toLocaleString("ru-ru")
                self.modal.content.push(data);
            }
            xhr.send()
        },
        updateBill: function() {
            var apiURL = '/api/v1/bill/' + {{bill.pk}} + '/'
            var xhr = new XMLHttpRequest()
            xhr.open('PATCH', apiURL)
            xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
            xhr.setRequestHeader("Content-Type","application/json");
            xhr.send(JSON.stringify(this.bill))
            var self = this
            xhr.onload = function() {
                self.fetchData()
                window.app_checklist.fetchBillChecklist()
            }
        },
        updateData: function() {
             for (var j=0; j < this.for_delete.length; j++) {
                var apiURL = '/api/v1/bill_entry/' + this.for_delete[j] + '/'
                var xhr = new XMLHttpRequest()
                xhr.open('DELETE', apiURL)
                xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
                xhr.setRequestHeader("Content-Type","application/json");
                xhr.send()
            }

            for (var i=0; i < this.data.length; i++) {
                var xhr = new XMLHttpRequest()
                var method = ''
                var billApiURL = ''

                if (this.data[i].name.length > 0) {
                    if ( this.data[i].id == 'N') {
                        var method = 'POST'
                        var billApiURL = '/api/v1/bill_entry/'
                    }
                    if ( this.data[i].id != 'N') {
                        var billApiURL = '/api/v1/bill_entry/' + this.data[i].id + '/'
                        var method = 'PATCH'
                    }
                    xhr.open(method, billApiURL)
                    xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
                    xhr.setRequestHeader("Content-Type","application/json");
                    xhr.send(JSON.stringify(this.data[i]))
                }
            }
        },
        addGrid: function(event) {
            this.data.push({id:'N',name: '',leads:0,cost:0, bill_id : this.bill.id})
        },
        removeGrid: function(index) {
            this.for_delete.push(this.data[index].id)
            this.data.splice(index, 1)
        },
        showModalConversions: function(index) {
            this.modal.title = this.data[index].name
            this.modal.heading = 'Конверсии, включенные в строку счета'
            this.modalIsActive = true
            conversions = this.data[index].conversions
            for (var i=0; i < conversions.length; i++) {
                this.fetchConversions(conversions[i])
            }

        },
        showModalConfirmBill: function() {
            if (this.bill.amount_with_vat > 0) {
                this.modal.heading = 'Подтверждение счета'
                this.modal.title = 'Вы уверены, что хотите подтвердить счет?'
                this.modal.confirmMessage = 'Внимание! Отменить изменения в счете будет невозможно.'
                this.modalIsActive = true
            } else {
                alert("Сумма счета должна быть больше 0.")
            }
        },
        closeModal: function(event) {
            this.modalIsActive = false
            this.modal.content = []
            this.modal.confirmMessage = ''
        },
        confirmBill: function() {
            this.bill.confirmed = true
            this.percent_loading = 0
            this.updateData()
            this.updateBill()
            this.modalIsActive = false
        },
        cancelConfirmationBill: function() {
            this.percent_loading = 0
            this.bill.confirmed = false
            this.updateBill()
        }
    },
})
</script>
