{% verbatim %}
<div class="column is-half" id="app_checklist">
    <div>
        <div class="panel-heading">
            Чеклист
        </div>
        <div v-if="percent_loading < 100" class="loading has-text-centered fa-2x" style="margin-top:100px;">
            <i class="fa fa-refresh fa-spin fa-fw margin-bottom is-cent"></i>
        </div>
        <table v-else class="table is-bordered">
            <thead>
            <tr>
                <th class="has-text-centered">Cумма счета</th>
                <th class="has-text-centered">Счет выставлен</th>
                <th class="has-text-centered">Статистика отправлена</th>
                <th class="has-text-centered">Статистика загружена</th>
                <th class="has-text-centered">Сверка окончена</th>
            </tr>
            </thead>
            <tr style="{% if bill.all_is_ready %}background:#ccf4ed;{% endif %}">
                <td class="has-text-centered">
                        <span v-if="bill.is_sum_added"><span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                            {{bill.is_sum_added.date}}<br/>
                            {{bill.is_sum_added.amount}}
                        </span>
                        <span v-else class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                </td>
                <td class="has-text-centered">
                        <span v-if="bill.is_bill_sent"><span  class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                            {{bill.is_bill_sent}}
                        </span>
                        <span v-else class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                </td>
                <td class="has-text-centered">
                        <span  v-if="bill.is_stat_sent">
                            <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                            {{bill.is_stat_sent}}
                        </span>
                        <span v-else class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                </td>
                <td class="has-text-centered">
                        <span v-if="bill.is_stat_uploaded"><span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                            {{bill.is_stat_uploaded}}
                        </span>
                        <span v-else class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>

                </td>
                <td class="has-text-centered">
                        <span  v-if="bill.is_stat_checked">
                            <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                            {{bill.is_stat_checked}}
                        </span>
                        <span v-else class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>

                </td>
            </tr>
        </table>
    </div>
</div>
{% endverbatim %}
<script>
var app_checklist = new Vue({
    el: '#app_checklist',
    data: {
        bill: [],
        percent_loading: 0,
    },
    created: function() {
        this.fetchBillChecklist()
    },
    methods: {
        fetchBillChecklist: function() {
            this.percent_loading = 0
            var apiURL = '/api/v1/bill_checklist/{{bill.pk}}/'
            var xhr = new XMLHttpRequest()
            var self = this
            xhr.open('GET', apiURL)
            xhr.onload = function() {
                var data = JSON.parse(xhr.responseText)
                for (key in data) {
                    if (data[key] !== null) {
                        if ( key == 'is_sum_added' ) {
                            data[key].date = new Date(data[key].date)
                            data[key].date = data[key].date.toLocaleString("ru-ru")
                        } else {
                            data[key] = new Date(data[key])
                            data[key] = data[key].toLocaleString("ru-ru")
                        }
                    }
                }
                self.bill = data
            }
            xhr.onprogress = function(event) {
                self.percent_loading = event.loaded / event.total * 100
            }
            xhr.send()
        },
    },
})
</script>