
<div class="column is-half " id="{{additional_input}}">
    <div>
        <div class="panel-heading">
            {{headline}}
        </div>


        <div class="panel-heading" style="background:#fff;">
            <div v-if="percent_files_loading < 100" class="loading has-text-centered fa-2x">
                <i class="fa fa-refresh fa-spin fa-fw margin-bottom is-cent"></i>
                <div></div>
            </div>
            <form v-else>
                <input type="hidden" value="{{additional_input}}">
                <h4 class="title is-5">Загруженные файлы</h4>
                {% verbatim %}
                    <div v-for="(file,index) in bill_files" class="control field">
                        {{file.create_date}} - <a :href="file.file">{{file.file}}</a>
                        <a class="icon has-text-danger" @click="deleteFile(index)"><i class="fa fa-lg fa-close"></i></a>
                    </div>

                <div class="file control field">
                    <label class="file has-name is-right">
                        <input class="file-input" type="file" :id="'file_' + additional_input" v-on:change="onFileChange">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fa fa-upload"></i>
                          </span>
                          <span class="file-label">
                            Загрузить файл ...
                          </span>

                        </span>
                        <span class="file-name" id="file-name">
                            {{new_filename}}
                        </span>
                    </label>
                </div>

{% endverbatim %}
            </form>
            <hr>
            <div v-if="percent_comments_loading < 100" class="loading has-text-centered fa-2x">
                <i class="fa fa-refresh fa-spin fa-fw margin-bottom is-cent"></i>
                <div></div>
            </div>
            <form v-else>
                <input type="hidden" value="{{additional_input}}">
                {% verbatim %}
                    <h4 class="title is-5">Комментарии</h4>

                    <div v-for="(comment, index) in bill_comments" class="control field">
                        {{comment.create_date}} - {{comment.text}} <a class="icon has-text-danger" @click="deleteComment(index)"><i class="fa fa-lg fa-close"></i></a>
                    </div>

                <h5 class="field">Добавить комментарий</h5>
                <div class="field">
                    <textarea class="textarea" type="text" name="text" v-model="new_comment"></textarea>
                </div>
                <div class="field ">
                    <input class="button is-success " type="button" value="Добавить комментарий" @click="addComment">
                </div>
                {% endverbatim %}
            </form>

        </div>
    </div>
</div>

<script>
var app_comments_{{additional_input}} = new Vue({
    el: '#{{additional_input}}',
    data: {
        bill_id: {{bill.pk}},
        bill_files: [],
        new_filename: 'Выберите файл для загрузки',
        bill_comments: [],
        new_comment: '',
        additional_input: '{{additional_input}}',
        percent_files_loading: 0,
        percent_comments_loading: 0,
    },
    created: function() {
        this.fetchComments()
        this.fetchFiles()
    },
    methods: {
        fetchComments: function() {
            var apiURL = '/api/v1/bill_comments/?type=' + this.additional_input + '&bill_id=' + this.bill_id
            var xhr = new XMLHttpRequest()
            var self = this
            xhr.open('GET', apiURL)
            xhr.onload = function() {
                var data = JSON.parse(xhr.responseText);
                for (i=0;i<data.length;i++) {
                    data[i].create_date = new Date(data[i].create_date)
                    data[i].create_date = data[i].create_date.toLocaleString("ru-ru")
                }
                self.bill_comments = data
            }
            xhr.onprogress = function(event) {
                self.percent_comments_loading = event.loaded / event.total * 100
            }
            xhr.send()
        },
        fetchFiles: function() {
            var apiURL = '/api/v1/bill_files/?type={{additional_input}}&bill_id=' + this.bill_id
            var xhr = new XMLHttpRequest()
            var self = this
            xhr.open('GET', apiURL)
            xhr.onload = function() {
                var data = JSON.parse(xhr.responseText);
                for (i=0;i<data.length;i++) {
                    data[i].create_date = new Date(data[i].create_date)
                    data[i].create_date = data[i].create_date.toLocaleString("ru-ru")
                }
                self.bill_files = data
            },
            xhr.onprogress = function(event) {
                self.percent_files_loading = event.loaded / event.total * 100
            }
            xhr.send()
        },
        addComment: function() {
            var apiURL = '/api/v1/bill_comments/'
            var xhr = new XMLHttpRequest()
            var self = this
            data = {
                "text": self.new_comment,
                "type": self.additional_input,
                "bill_id": self.bill_id,
                "user_id": {{user.pk}}
            }
            xhr.open('POST', apiURL)
            xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
            xhr.setRequestHeader("Content-Type","application/json");
            this.percent_comments_loading = 0
            xhr.send(JSON.stringify(data))
            xhr.onload = function() {
                self.fetchComments()
                self.new_comment = ''
            }
        },
        deleteComment: function(index) {
            var id = this.bill_comments[index].id
            var apiURL = '/api/v1/bill_comments/' + id + '/'
            var xhr = new XMLHttpRequest()
            xhr.open('DELETE', apiURL)
            xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
            this.percent_comments_loading = 0
            xhr.send()
            var self = this
            xhr.onload = function() {
                self.fetchComments()
            }
        },
        deleteFile: function(index) {
            var id = this.bill_files[index].id
            var apiURL = '/api/v1/bill_files/' + id + '/'
            var xhr = new XMLHttpRequest()
            xhr.open('DELETE', apiURL)
            xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
            this.percent_files_loading = 0
            xhr.send()
            var self = this
            xhr.onload = function() {
                self.fetchFiles()
            }
        },
        onFileChange: function (e){
            var files = e.target.files || e.dataTransfer.files;
            this.new_filename = files[0].name

            var formData = new FormData()
            formData.append("bill_id", this.bill_id);
            formData.append("type", this.additional_input);
            formData.append("file", files[0]);

            var apiURL = '/api/v1/bill_files/'
            var xhr = new XMLHttpRequest()

            var self = this
            xhr.onload = function() {
                self.fetchFiles()
                self.new_filename = 'Выберите файл для загрузки'
                files = ''
            }
            this.percent_files_loading = 0
            xhr.open('POST', apiURL)
            xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}')
            xhr.send(formData)
        },
    },
})
</script>