<style>

    #stat-status .steps-segment:first-child {
        visibility: hidden;
    }
    #stat-status .steps-segment:first-child:after {
        visibility: visible;
        height: 0.4em !important;
        left: 3.3rem;
        top: 5em  !important;
        content: " ";
        display: block;
        position: absolute;
        transform: rotate(139deg);
        width: 11rem;
    }

    .steps-segment.is-active ~ .steps-segment:before {
        background-color: #dbdbdb;
    }
    .steps-segment:before {
        background-color: #00d1b2;
    }

    .is-active.is-hovered:after {
        background-color: #00d1b2 !important;
    }

    .is-before-active.is-hovered:after {
        background-color: #dbdbdb; !important;
    }
</style>
{% verbatim %}
<div class="column is-half" id="app_progress">
    <div>
        <div class="panel-heading">
            Процесс обработки счета
        </div>
        <div v-if="percent_loading < 100" class="loading has-text-centered fa-2x" style="margin-top:100px;">
            <i class="fa fa-refresh fa-spin fa-fw margin-bottom is-cent"></i>
            <div></div>
        </div>
        <div v-else class="panel-block " style="flex-direction:column;flex-flow: wrap;">
            <ul v-show="bill.is_stats_upload_necessary" class="steps has-content-centered" id="stat-status">
                <li v-for="(status, index) in bill_status" v-if="status.type == 'stat'" v-bind:class="['steps-segment', {'first-element':status.ordering == 10}, {'is-active' : status.id == bill.stat_status},{'is-before-active' : status.status_forward_id == bill.stat_status},]">
                    <span class="steps-marker">
                          <span v-if="status.is_last" class="icon">
                            <i class="fa fa-flag"></i>
                          </span>
                    </span>
                    <div class="steps-content">
                        {{status.name}}
                    </div>
                </li>
            </ul>

            <ul class="steps has-content-centered " id="acc-status">
                <li v-for="(status, index) in bill_status" v-if="status.type == 'acc'" v-bind:class="['steps-segment', {'is-active' : status.id == bill.acc_status},{'is-before-active' : status.status_forward_id == bill.acc_status},]">
                    <span class="steps-marker">
                        <span v-if="status.is_last" class="icon">
                            <i class="fa fa-flag"></i>
                        </span>
                    </span>
                    <div class="steps-content">
                        {{status.name}}
                    </div>
                </li>

            </ul>


            <div class="control field">
                <label class="checkbox">
                    <input type="checkbox" @click="changeStatUpload" v-model="bill.is_stats_upload_necessary" :disabled="bill.stat_status != 7"/>
                    Требуется отправка статистики?
                </label>
            </div>


            <div v-if="getCurrentStatuses()" class="">
                <div v-for="status in getCurrentStatuses()" class="field">
                    <a v-if="status.action_backward_name" v-on:mouseover="highlightWorkflow(status, 'backward')" v-on:mouseout="disableHighlightWorkflow()" class="button is-danger" href="javascript:void(0)" @click="changeStatusBackward(status)">{{status.action_backward_name}}</a>
                    <a v-if="status.action_forward_name" v-on:mouseover="highlightWorkflow(status, 'forward')" v-on:mouseout="disableHighlightWorkflow()" class="button is-info" href="javascript:void(0)" @click="changeStatusForward(status)">{{status.action_forward_name}}</a>
                </div>
            </div>
{% endverbatim %}
        </div>
    </div>
</div>
<script>
var app_progess = new Vue({
    el: '#app_progress',
    data: {
        bill: {},
        bill_status: [],
        percent_loading: 0,
    },
    methods: {
        fetchBill: function() {
            var apiURL = '/api/v1/bill/' + '{{bill.pk}}/'
            var xhr = new XMLHttpRequest()
            var self = this
            xhr.open('GET', apiURL)
            xhr.onload = function() {
                var response_data = JSON.parse(xhr.responseText);
                self.bill.acc_status = response_data.acc_status
                self.bill.stat_status = response_data.stat_status
                self.bill.advertiser_id = response_data.advertiser_id
                self.bill.is_stats_upload_necessary = response_data.is_stats_upload_necessary
            }
            xhr.onprogress = function(event) {
                self.percent_loading = event.loaded / event.total * 100
            }
            xhr.send()
        },
        fetchStatus: function() {
            var apiURL = '/api/v1/bill_status/'
            var xhr = new XMLHttpRequest()
            var self = this
            xhr.open('GET', apiURL)
            xhr.onload = function() {
                self.bill_status = JSON.parse(xhr.responseText);
            }
            xhr.send()
        },
        getCurrentStatuses: function() {
            var result = []
            for ( i=0; i < this.bill_status.length; i++ ) {
                if ( (this.bill_status[i].id == this.bill.stat_status && this.bill.is_stats_upload_necessary == true) || this.bill_status[i].id == this.bill.acc_status) {
                    result.push(this.bill_status[i])
                }
            }
            return result
        },
        changeStatusForward: function(status) {
            if (app_table.bill.confirmed == true) {
                this.percent_loading = 0
                this.bill.acc_status = (status.type == 'acc') ? status.status_forward_id : this.bill.acc_status
                this.bill.stat_status = (status.type == 'stat') ? status.status_forward_id : this.bill.stat_status
                this.updateBill()
                this.postBillHistory(status)
            } else {
                alert("Для смены статуса требуется подтвердить счет.")
            }
        },
        changeStatusBackward: function(status) {
            this.percent_loading = 0
            this.bill.acc_status = (status.type == 'acc') ? status.status_backward_id : this.bill.acc_status
            this.bill.stat_status = (status.type == 'stat') ? status.status_backward_id : this.bill.stat_status
            this.updateBill()
            this.postBillHistory(status)
        },
        changeStatUpload: function(e) {
            this.percent_loading = 0
            this.bill.is_stats_upload_necessary = e.target.checked
            this.updateBill()
        },
        postBillHistory: function(status) {
            var apiURL = '/api/v1/bill_history/'
            var xhr = new XMLHttpRequest()
            xhr.open('POST', apiURL)
            xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
            xhr.setRequestHeader("Content-Type","application/json");
            var data = {
                'status_id': status.id,
                'bill_id': {{bill.pk}},
            }
            xhr.send(JSON.stringify(data))
        },
        updateBill: function() {
            var apiURL = '/api/v1/bill/' + {{bill.pk}} + '/'
            var self = this
            var xhr = new XMLHttpRequest()
            xhr.open('PATCH', apiURL)
            xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
            xhr.setRequestHeader("Content-Type","application/json");
            xhr.send(JSON.stringify(this.bill))
            xhr.onload = function() {
                self.fetchBill()
                window.app_checklist.fetchBillChecklist()
            }
        },
        highlightWorkflow: function(status, direction) {
            if (direction == 'forward') {
                var class_name = "is-active"
            } else {
                var class_name = "is-before-active"
            }

            if (status.type == 'acc') {
                var el = document.getElementById("acc-status").getElementsByClassName(class_name)
            } else {
                var el = document.getElementById("stat-status").getElementsByClassName(class_name)
            }

            el[0].classList.add('is-hovered')
        },
        disableHighlightWorkflow: function() {
            var el = document.getElementById("app_progress").getElementsByClassName("is-active")
            try {el[0].classList = el[0]._prevClass} catch(e) {}
            try {el[1].classList = el[1]._prevClass} catch(e) {}
            var el = document.getElementById("app_progress").getElementsByClassName("is-before-active")
            try {el[0].classList = el[0]._prevClass} catch(e) {}
            try {el[1].classList = el[1]._prevClass} catch(e) {}
        }

    },
    created: function() {
        this.fetchStatus()
        this.fetchBill()
    },
})
</script>