{% extends "layout.html" %}
{% block content %}
<section class="section">
    <div class="container">

            <h1 class="title">Рекламодатели</h1>
                <div class="content">
                    {% if advertisers %}
                        <table class="table is-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="2">ID</th>
                                    <th rowspan="2">Рекламодатель</th>
                                    <th rowspan="2">Статус рекламодателя</th>
                                    <th colspan="6" class="has-text-centered">Последний счет</th>
                                </tr>
                                <tr>
                                    <th class="has-text-centered">Cумма счета</th>
                                    <th class="has-text-centered">Счет выставлен</th>
                                    <th class="has-text-centered">Статистика отправлена</th>
                                    <th class="has-text-centered">Статистика загружена</th>
                                    <th class="has-text-centered">Сверка окончена</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            {% for advertiser in advertisers %}
                                <tr>
                                    <td><a href="/advertiser/{{advertiser.unique_id}}">{{advertiser.unique_id}}</a></td>
                                    <td><a href="/advertiser/{{advertiser.unique_id}}">{{advertiser.company}}</a></td>
                                    {% if advertiser.status == "active" %}
                                        <td><span class="tag is-success">{{advertiser.status}}</span></td>
                                    {% else %}
                                        <td><span class="tag">{{advertiser.status}}</span></td>
                                    {% endif %}
                                        <td class="has-text-centered">
                                            {% if advertiser.bill.is_sum_added %}
                                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                                {{advertiser.bill.time_last_confirmed|date:"SHORT_DATE_FORMAT"}}<br/>
                                                {{advertiser.bill.amount_with_vat}}
                                            {% else %}
                                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="has-text-centered">
                                            {% if advertiser.bill.is_bill_sent %}
                                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                                {{advertiser.bill.is_bill_sent|date:"SHORT_DATE_FORMAT"}}
                                            {% else %}
                                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="has-text-centered">
                                            {% if advertiser.bill.is_stat_sent %}
                                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                                {{advertiser.bill.is_stat_sent|date:"SHORT_DATE_FORMAT"}}
                                            {% else %}
                                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="has-text-centered">
                                            {% if advertiser.bill.is_stat_uploaded %}
                                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                                {{advertiser.bill.is_stat_uploaded|date:"SHORT_DATE_FORMAT"}}
                                            {% else %}
                                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="has-text-centered">
                                            {% if advertiser.bill.is_stat_checked %}
                                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                                {{advertiser.bill.is_stat_checked|date:"SHORT_DATE_FORMAT"}}
                                            {% else %}
                                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="has-text-centered">
                                            {% if advertiser.bill.possible_actions %}
                                                {% for action in advertiser.bill.possible_actions %}
                                                    <a class="button is-info is-small field" href="/bill/{{advertiser.bill.pk}}">{{action}}</a><br>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif%}
                </div>

    </div>
</section>
{% endblock %}