{% extends "layout.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Рекламодатель {{advertiser.company}}{% if advertiser.status == "active" %}<span
                class="tag is-success">{{advertiser.status}}</span>{% endif %}</h1>
        <div class="content">
            {% if message %}
            <div class="notification">
                {{ message }}
            </div>
            {% endif %}
            <div class="columns">
                <div class="column is-two-thirds">
                    {% if bills %}
                    <h2>Счета</h2>
                    <table class="table is-bordered">
                        <thead>
                        <tr>
                            <th>ID счета</th>
                            <th class="has-text-centered">Cумма счета</th>
                            <th class="has-text-centered">Счет выставлен</th>
                            <th class="has-text-centered">Статистика отправлена</th>
                            <th class="has-text-centered">Статистика загружена</th>
                            <th class="has-text-centered">Сверка окончена</th>
                            <th class="has-text-centered">&nbsp;</th>
                        </tr>
                        </thead>

                        {% for bill in bills %}

                        <tr style="{% if bill.all_is_ready %}background:#ccf4ed;{% endif %}">
                            <td><a href="/bill/{{bill.pk}}">{{bill.code}}</a></td>
                            <td class="has-text-centered">
                                {% if bill.is_sum_added %}
                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                {{bill.time_last_confirmed|date:"SHORT_DATE_FORMAT"}}<br/>
                                {{bill.amount_with_vat}}
                                {% else %}
                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                {% endif %}
                            </td>
                            <td class="has-text-centered">
                                {% if bill.is_bill_sent %}
                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                {{bill.is_bill_sent|date:"SHORT_DATE_FORMAT"}}
                                {% else %}
                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                {% endif %}
                            </td>
                            <td class="has-text-centered">
                                {% if bill.is_stat_sent %}
                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                {{bill.is_stat_sent|date:"SHORT_DATE_FORMAT"}}
                                {% else %}
                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                {% endif %}
                            </td>
                            <td class="has-text-centered">
                                {% if bill.is_stat_uploaded %}
                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                {{bill.is_stat_uploaded|date:"SHORT_DATE_FORMAT"}}
                                {% else %}
                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                {% endif %}
                            </td>
                            <td class="has-text-centered">
                                {% if bill.is_stat_checked %}
                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                {{bill.is_stat_checked|date:"SHORT_DATE_FORMAT"}}
                                {% else %}
                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                {% endif %}
                            </td>
                            <td class="has-text-centered">
                                {% if bill.possible_actions %}
                                {% for action in bill.possible_actions %}
                                <a class="button is-info is-small field" href="/bill/{{bill.pk}}">{{action}}</a><br>
                                {% endfor %}
                                {% endif %}
                            </td>
                        </tr>

                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            {% if offers %}

                <div class="column">
                    <h2>Офферы</h2>
                    <table class="table is-bordered">
                        <thead>
                        <tr>
                            <th>ID оффера</th>
                            <th>Название</th>
                            <th>Ставка за лид в системе</th>
                            <th>Статус</th>
                        </tr>
                        {% for offer in offers %}
                        <tr>
                            <td><a href="{{offers_base_url}}{{offer.unique_id}}" target="_blank">{{offer.unique_id}}
                            </td>
                            <td>{{offer.name}}</td>
                            <td>{{offer.max_payout}}</td>
                            {% if offer.status == "active" %}
                            <td><span class="tag is-success">{{offer.status}}</span></td>
                            {% else %}
                            <td><span class="tag">{{offer.status}}</span></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </thead>
                    </table>
                </div>
            </div>
            {% endif %}

            <div class="columns">
                {% if advertiser %}
                <div class="column is-half">
                    <div>
                        <div class="panel-heading">Данные компании</div>
                        <div class="panel-block">Компания: {{advertiser.company}}</div>
                        <div class="panel-block">Статус: {{advertiser.status}}</div>
                        <div class="panel-block">Адрес: {{advertiser.address1}}</div>
                        <div class="panel-block">Телефон: {{advertiser.phone}}</div>
                    </div>
                    <p></p>
                    {% if users %}
                    {% for user in users %}
                    <div>
                        <div class="panel-heading">Контактное лицо</div>
                        <div class="panel-block">Имя Фамилия: {{user.first_name}} {{user.last_name}}</div>
                        <div class="panel-block">Статус: {{user.status}}</div>
                        <div class="panel-block">Телефон: {{user.phone}}</div>
                        <div class="panel-block">Email: {{user.email}}</div>
                        <div class="panel-block">Должность: {{user.title}}</div>
                        <div class="panel-block">Моб. телефон: {{user.cell_phone}}</div>
                    </div>
                    <p></p>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endif%}
                <div class="column is-half">
                    <div>
                        <div class="panel-heading">Настройки рекламодателя</div>
                        <div class="panel-block">
                            <form action="" method="post">
                                {% csrf_token %}
                                <h4>Период автоматического формирования счета</h4>


                                <div class="field">
                                    <label class="radio">

                                        <input {% if advertiser.billing_period == 1 %}checked{% endif %} type="radio"
                                               name="billing_period" value="1">
                                        1 раз в месяц
                                    </label>
                                    <label class="radio">

                                        <input {% if advertiser.billing_period == 2 %}checked{% endif %} type="radio"
                                               name="billing_period" value="2">
                                        2 раза в месяц
                                    </label>
                                </div>
                                <h4>НДС в счете по умолчанию</h4>
                                <div class="field">
                                    <label class="radio">
                                        <input {% if advertiser.vat_enabled is True %}checked{% endif %} type="radio"
                                               name="vat_enabled" value="True">
                                        Есть
                                    </label>
                                    <label class="radio">
                                        <input {% if advertiser.vat_enabled is False %}checked{% endif %} type="radio"
                                               name="vat_enabled" value="False">
                                        Нет
                                    </label>
                                </div>
                                <div class="field">
                                    <input class="button is-link" type="submit" value="Сохранить">
                                </div>
                            </form>
                        </div>
                    </div>
                    <p></p>
                    {% if account %}
                    <div>
                        <div class="panel-heading">Менеджер</div>
                        <div class="panel-block">Имя Фамилия: {{account.first_name}} {{account.last_name}}</div>
                        <div class="panel-block">Email: {{account.username}}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if graph_dates %}
            <div id="container" style="width:100%; height:400px;"></div>
            <script>
            var myChart = Highcharts.chart('container', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Конверсии по дням'
                },
                legend: {
                    align: 'left',
                    itemWidth: 1000,
                    x: 70,
                },
                xAxis: {
                    categories: [
                        {% for date in graph_dates %}
                        '{{date}}',
                        {% endfor %}
                    ]
                },
                yAxis: {
                    title: {
                        text: 'Конверсии'
                    }
                },
                series: [
                {% for offers, dates in graph_data.items %}
                {
                    name: '{{offers}}',
                    data: [
                        {% for date, count in dates.items %}
                        {{count}},
                        {% endfor %}
                        ]
                },
                {% endfor %}
                ]
            });
            </script>
            {% endif %}
        </div>

    </div>
</section>
{% endblock %}