{% extends "layout.html" %}
{% block content %}
<section class="section">
    <div class="container">
            <h1 class="title">Статистика по менеджерам</h1>
            <div class="content">
                {% for date, managers in data.items %}
                <h3>{{date}}</h3>
                <table class="table is-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2">Менеджер</th>
                            <th class="has-text-centered" colspan="3">Бухгалтерия</th>
                            <th class="has-text-centered" colspan="4">Статистика</th>
                            <th rowspan="2" class="has-text-centered">Процент закрытых счетов</th>
                        </tr>
                        <tr>
                            <th class="has-text-centered">Создан</th>
                            <th class="has-text-centered">Ожидает выставления счета</th>
                            <th class="has-text-centered">Счет выставлен</th>
                            <th class="has-text-centered">Создан</th>
                            <th class="has-text-centered">Ожидает загрузки статистики</th>
                            <th class="has-text-centered">Ожидает сверки</th>
                            <th class="has-text-centered">Сверка закончена</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for manager, status_types in managers.items %}
                        <tr>
                            <td>{{manager}}</td>
                                {% for count in status_types.acc_status %}
                                <td>{{count}} {{key}}</td>
                                {% endfor %}
                                {% for count in status_types.stat_status %}
                                <td>{{count}}</td>
                                {% endfor %}
                            <td>
                                <progress class="progress is-primary" value="{{status_types.percent_completed|floatformat}}" max="100">{{status_types.percent_completed}}</progress>
                                {{status_types.percent_completed}} %</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
    </div>
</section>
{% endblock %}