{% extends "layout.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="content">
            <h4>Рекламодатель: <a href="/advertiser/{{bill.advertiser_id.unique_id}}">{{bill.advertiser_id}}</a></h4>
            {% include './inc/app_table.html' %}
        </div>
        <div class="columns" style="clear:both;">
            {% include './inc/progress.html' %}
            {% include './inc/checklist.html' %}

        </div>

        <div class="columns" style="clear:both;">
            {% include './inc/comments_files.html' with headline="Бухгалтерия" bill_files=bill_files_acc bill_comments=bill_comments_acc additional_input="acc" %}
            {% include './inc/comments_files.html' with headline="Статистика" bill_files=bill_files_stat bill_comments=bill_comments_stat additional_input="stat" %}
        </div>

    </div>
</section>
{% endblock %}