{% extends "layout.html" %}
{% block content %}
<section class="section">
    <div class="container">
            <h1 class="title">Счета</h1>
                <div class="content">
                    {% if bills %}
                        {% for date in unique_bill_dates %}
                        <h4>{{date.create_date}}</h4>
                            <table class="table is-bordered">
                                <thead>
                                    <tr>
                                        <th>ID счета</th>
                                        <th>Рекламодатель</th>
                                        <th class="has-text-centered">Cумма счета</th>
                                        <th class="has-text-centered">Счет выставлен</th>
                                        <th class="has-text-centered">Статистика отправлена</th>
                                        <th class="has-text-centered">Статистика загружена</th>
                                        <th class="has-text-centered">Сверка окончена</th>
                                        <th class="has-text-centered">&nbsp;</th>
                                    </tr>
                                </thead>

                                {% for bill in bills %}
                                    {% if bill.create_date == date.create_date %}
                                    <tr style="{% if bill.all_is_ready %}background:#ccf4ed;{% endif %}">
                                        <td><a href="/bill/{{bill.pk}}">{{bill.code}}</a></td>
                                        <td><a href="/advertiser/{{bill.advertiser_id.unique_id}}">{{bill.advertiser_id}}</a></td>
                                        <td class="has-text-centered">
                                            {% if bill.is_sum_added %}
                                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                                {{bill.time_last_confirmed|date:"SHORT_DATE_FORMAT"}}<br/>
                                                {{bill.amount_with_vat}}
                                            {% else %}
                                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="has-text-centered">
                                            {% if bill.is_bill_sent %}
                                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                                {{bill.is_bill_sent|date:"SHORT_DATE_FORMAT"}}
                                            {% else %}
                                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="has-text-centered">
                                            {% if bill.is_stat_sent %}
                                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                                {{bill.is_stat_sent|date:"SHORT_DATE_FORMAT"}}
                                            {% else %}
                                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="has-text-centered">
                                            {% if bill.is_stat_uploaded %}
                                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                                {{bill.is_stat_uploaded|date:"SHORT_DATE_FORMAT"}}
                                            {% else %}
                                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="has-text-centered">
                                            {% if bill.is_stat_checked %}
                                                <span class="icon has-text-success"><i class="fa fa-lg fa-check"></i></span><br/>
                                                {{bill.is_stat_checked|date:"SHORT_DATE_FORMAT"}}
                                            {% else %}
                                                <span class="icon has-text-danger"><i class="fa fa-lg fa-close"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="has-text-centered">
                                            {% if bill.possible_actions %}
                                                {% for action in bill.possible_actions %}
                                                    <a class="button is-info is-small field" href="/bill/{{bill.pk}}">{{action}}</a><br>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        {% endfor %}
                    {% endif %}
                </div>
    </div>
</section>
{% endblock %}