<!DOCTYPE html>
<html lang="Ru">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bulma-steps.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'bulma.min.css' %}" >
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if request.META.HTTP_HOST == '127.0.0.1:8000' %}
    <script src="{% static 'vue.js' %}" /></script>
    {% else %}
    <script src="{% static 'vue.min.js' %}" /></script>
    {% endif %}
    <meta charset="UTF-8">
    <title>{{meta.title|default:"LeadGid CRM"}}</title>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
</head>
<body>
    {% block header %}
        <nav class="navbar is-light">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="{% static 'logo.png' %}">
                    </a>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{% url 'bill_index' %}">Главная</a>
                        <a class="navbar-item" href="{% url 'advertiser_list' %}">Рекламодатели</a>
                        <a class="navbar-item" href="{% url 'bill_list' %}">Счета</a>
                        {% if user.is_superuser %}
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">Войти под другим пользователем</a>
                                <div class="navbar-dropdown">
                                    {% for group in groups %}
                                    <li class="navbar-item">{{group.name}}</li>
                                        {% for user in group.users %}
                                        <a class="navbar-item" href="/login_as/?id={{user.pk}}">-- {{user}}</a>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                                {{users}}
                            </div>
                         <a class="navbar-item" href="{% url 'statistics_manager' %}">Статистика</a>
                        {% endif %}
                        {% if request.session.prev_user_id %}
                        <div class="navbar-item">
                             <a href="{% url 'logout_as' %}">
                                <button class="button">Выйти из сеанса {{user.first_name}} {{user.last_name}}</button>
                             </a>
                         </div>
                         {% endif %}
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link"><span class="icon"><i class="fa fa-user"></i></span>{{user.username}}</a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item">{{user.first_name}} {{user.last_name}}</a>
                                <hr class="navbar-divider">
                                <a href="{% url 'logout' %}" class="navbar-item">Выйти из системы</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    {% endblock %}
    {% block content %}
    {% endblock content %}
</body>
</html>