{% extends "layout.html" %}
{% block header %}
{% load staticfiles %}
<nav class="navbar is-light">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="{% static 'logo.png' %}">
            </a>
        </div>
        <div class="navbar-menu">

        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-one-third"></div>
            <div class="column is-one-third">
                <div class="box is-half" style="margin-top:40px;">
                    <form method="post" action="{% url 'login' %}">
                        <h1 class="title">Вход</h1>
                        <div class="field control has-icons-left">
                            <input class="input" type="email" name="email" placeholder="Введите e-mail"/>
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                        <div class="field control has-icons-left">
                            <input class="input" type="password" name="password" placeholder="Введите пароль"/>
                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <div class="field"><input class="button is-success" type="submit" value="Войти" /></div>
                        {% csrf_token %}
                        {{result}}
                    </form>
                </div>
            </div>
            <div class="column is-one-third"></div>
        </div>
    </div>
{% endblock %}